.singlepost {
    flex: 10;
}

.singlepostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlepostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlepostTitle {
    text-align: center;
    color: gray;
    font-style: italic;
    margin: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.singlepostTitleInput {
    text-align: center;
    margin: 10px;
    color: goldenrod;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: .4px solid #000;
}

.singlepostTitleInput:focus {
    outline: none;
}

.singlepostEdit {
    float: right;
    display: flex;
    gap: 10px;
}

.singlepostInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgb(195, 183, 183);
    margin-left: 20px;
}

.singlepostDesc {
    margin-left: 20px;
    color: #666;
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
}

.singlepostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlepostDescInput {
    border: none;
    margin-left: 20px;
    color: goldenrod;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5;
    width: 1224px;
    height: 150px;
}

.singlepostDescInput:focus {
    outline: none;
    border: 1px solid lightgray;
}

.singlePostButton {
    border: none;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    transition: .3s ease-in-out;
}

.singlePostButton:hover {
    background-color: lightgreen;
}



@media screen and (width < 784px) {
    .singlepost {
        margin-right: 20px;
    }

    .singlepostTitle {
        font-size: 20px;
    }
}